──────────────┬────────────────────────────────────
«Doors»       │«Lights»
Front   : {{ DoorLock "smartthings/Front Door Lock/lock" }} {{ DoorState "smartthings/Front Door Sensor/contact" }} │ 
Garage  : {{ DoorLock "smartthings/Inner Garage Door Lock/lock" }} {{ DoorState "smartthings/Garage House Door Sensor/contact" }} │
Sun Room: - {{ DoorState "smartthings/Sun Room Sensor/contact" }} │ Family  : {{ Light "smartthings/Family Room Lights/switch" }}
Patio   : - {{ DoorState "smartthings/Patio Door Sensor/contact" }} │ Bathroom: {{ Light "smartthings/Master Bathroom Vanity Lights/switch" }}
Office  : {{ DoorLock "smartthings/Office Lock/lock" }} {{ DoorState "smartthings/Office Door Sensor/contact" }} │ Office  : {{ Light "smartthings/Office Light Switch/switch" }}
──────────────┴────────────────────────────────────
 Temperatures
Front Door        : [0m
{{- with $x := GetInt "smartthings/Front Door Sensor/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Front Door Sensor/temperature" -}} [0m
Garage Entry Door : [0m
{{- with $x := GetInt "smartthings/Garage House Door Sensor/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Garage House Door Sensor/temperature" -}} [0m
Office Door       : [0m
{{- with $x := GetInt "smartthings/Office Door Sensor/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Office Door Sensor/temperature" -}} [0m
Nook Patio Door   : [0m
{{- with $x := GetInt "smartthings/Patio Door Sensor/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Patio Door Sensor/temperature" -}} [0m
Sun Room Door     : [0m
{{- with $x := GetInt "smartthings/Sun Room Sensor/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Sun Room Sensor/temperature" -}} [0m
Under Dishwasher  : [0m
{{- with $x := GetInt "smartthings/Water Leak Sensor A/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Water Leak Sensor A/temperature" -}} [0m
Under Kitchen Sink: [0m
{{- with $x := GetInt "smartthings/Water Leak Sensor B/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Water Leak Sensor B/temperature" -}} [0m
Unused Leak Sensor: [0m
{{- with $x := GetInt "smartthings/Water Leak Sensor C/temperature" -}} {{- if lt $x 69 -}} [0;104m {{- else if gt $x 73 -}} [0;31m {{- end -}} {{- end -}}
{{- GetInt "smartthings/Water Leak Sensor C/temperature" -}} [0m
